@use "../../../my-styles.scss" as var;
.full-width-table {
  width: 60%;
}

table {
  width: 60%;
}

td {
  background-color: whitesmoke;
  text-align: center;
}

.table-container {
  // background-color: blue;
  margin: auto;
}
div.buttons-container > button {
  margin: 25px auto;
  height: 49px;
  width: 15%;
  display: block;
}

button.add {
  background-color: var.$primary;
  color: white;
}

button.reload {
  background-color: var.$light;
  color: black;
}

.no-data {
  padding: 24px;
  font-size: 1.4rem;
  font-weight: bold;
}
