<div class="grid-container">
  <h1 class="mat-h1">Academics</h1>
  <mat-grid-list cols="2" rowHeight="250px">
    <mat-grid-tile
      *ngFor="let card of cards | async; let i = index"
      [colspan]="card.cols"
      [rowspan]="card.rows"
    >
      <app-dashboard-card
        [title]="card.title"
        [section]="card.title"
        [index]="i"
        [streamsCount]="streamsCount"
        [subjectCount]="subjectCount"
        [deptCount]="deptCount"
        [teacherCount]="teacherCount"
        [classStudentsCount]="classStudentsCount"
        [classStreams]="classStreams"
        [subjectTeachersCount]="subjectTeachersCount"
        [classTeachersCount]="classTeachersCount"
        [hodCount]="hodCount"
      ></app-dashboard-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
