<div class="grid-container">
  <h1 class="title">Academics</h1>
  <div class="scoresheet buttons-container">
    <button
      mat-raised-button
      class="create-sheet"
      (click)="openScoresheetModalDialog()"
    >
      Create Scoresheet
    </button>

    <button
      mat-raised-button
      class="view-sheet"
      (click)="navigateToViewScoresheets()"
    >
      View Scoresheets
    </button>

    <button
      class="school-reports"
      (click)="navigateToViewReports()"
      mat-raised-button
    >
      Reports
    </button>
  </div>
  <mat-grid-list cols="2" rowHeight="250px">
    <mat-grid-tile
      *ngFor="let card of cards; let i = index"
      [colspan]="numCols"
      [rowspan]="card.rows"
      (window:resize)="onResize($event)"
    >
      <app-dashboard-card
        [title]="card.title"
        [section]="card.title"
        [index]="i"
        [streamsCount]="streamsCount"
        [subjectCount]="subjectCount"
        [deptCount]="deptCount"
        [teacherCount]="teacherCount"
        [classStudentsCount]="classStudentsCount"
        [subjectTeachersCount]="subjectTeachersCount"
        [classTeachersCount]="classTeachersCount"
        [hodCount]="hodCount"
      ></app-dashboard-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
