h1 {
  text-align: center;
  font-size: 2rem;
}
.scoresheet {
  // background-color: green;
  text-align: center;
}

.scoresheet.buttons-container {
  width: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

button.create-sheet {
  color: white;
}

button.view-sheet {
  color: black;
}

.school-reports {
  max-width: 240px;
  width: 70%;
}

@media screen and (max-width: 768px) {
  h1.title {
    font-size: 1.8rem;
  }
}
