@use "../../my-styles.scss" as var;

h1 {
  text-align: center;
  font-size: 2rem;
  font-family: var.$bold;
}
.scoresheet {
  // background-color: green;
  text-align: center;
}

.scoresheet.buttons-container {
  width: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

button.create-sheet {
  background-color: var.$secondary;
  color: white;
}

button.view-sheet {
  background-color: var.$tenary;
  color: black;
}

button {
  font-family: var.$regular;
}
::ng-deep {
  mat-grid-list {
    display: flex;
    flex-wrap: wrap;
    min-width: 200px;
  }

  mat-grid-tile {
    display: flex;
    flex-wrap: wrap;
  }
}

.school-reports {
  background-color: var.$light;
  max-width: 240px;
  width: 70%;
}

@media screen and (max-width: 768px) {
  h1.title {
    font-size: 1.8rem;
  }
}
