
:host {
  display: inline-block;
  width: 100%;
  height: calc(100% - 48px - 128px);
  padding: 48px 0;

  > div {
    display: flex;
    flex-flow: column;
    width: 64%;
    height: 100%;
    margin: auto;
    padding: 0 12px;
  }
}
