<div  class="splash-container">
  <div class="items-container" [ngStyle]="itemsContainerStyles">
    <div [ngStyle]="splashTitleStyles" class="splash-text">School Management System</div>
    <!--<div [ngStyle]="buttonContainerStyles" class="buttons-container"></div>-->
    <a routerLink="/login" routerLinkActive="active"><div class="button login" [ngStyle]="loginButtonStyles"><span>Login</span></div></a>
    <a routerLink="/registration" routerLinkActive="active"><div class="button register" [ngStyle]="registerButtonStyles" ><span>Register</span></div></a>
  </div>

 <!-- <div id="form-container" >

    <div id="email-form-input">
      <label for="login-email" class="login label">Email:</label><br />
      <input id="login-email" type="email" [formControl]="email">
    </div>

    <div id="password-form-input">
      <label for="login-password" class="login label">Password:</label><br />
      <input id="login-password" [type]="visible ? 'password' : 'text'" [formControl]="password" >
    </div>

    &lt;!&ndash;For showing password&ndash;&gt;
    <p><input type="checkbox" (click)="showPassword()"> Show Password</p>
  </div>

  <div [ngStyle]="snackBarStyle" class="snack-bar">
    <span>{{snackbarMessage}}</span>
    <div>
      <span class="snack-bar-close" (click)="closeSnackBar()">Close</span>
    </div>
  </div>-->
</div>

