@font-face {
  font-family: "Love Me";
  src: url("../../assets/KgDoYouLoveMeRegular-1V4e.ttf");
}

@font-face {
  font-family: "Gold Leaf";
  src: url("../../assets/GoldleafBoldPersonalUseBold-eZ4dO.ttf");
}

div.items-container {
  // background-color: cornflowerblue;
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
  top: 25%;
  border-radius: 20px;
}

div.splash-container {
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  background-color: lightblue;
  justify-content: center;
  text-align: center;
  position: absolute;
  // background-image: url("../../assets/compass.jpg")
  background-repeat: repeat;
}

.splash-text {
  font-family: "Love Me", serif;
  position: relative;
  top: 20%;
  font-size: 40pt;
  display: inline-block;
  justify-content: center;
  z-index: 10;
  margin-bottom: 20px;
}

//.buttons-container
//  background-color: cornsilk
//  display: block
//  padding: 12px
//  position: relative
//  top: 40%
//  left: 34.5%

.button {
  position: absolute;
  top: 17%;
  margin: auto;
  padding: 21px 45px 21px 45px;
  background-color: whitesmoke;
  font-family: "Love Me", serif;
  font-size: 20pt;
  border-radius: 20px;
  display: block;
  width: 140px;
}

.button:hover {
  cursor: pointer;
  z-index: 10;
  box-shadow: 5px 5px 10px #000000;
}

.login {
  top: 40%;
  margin: auto;
  left: 0;
  right: 0;
}

.register {
  top: 63%;
  margin: auto;
  left: 0;
  right: 0;
}

.label {
  font-family: "Love Me", serif;
  font-size: 25pt;
  text-align: left;
  width: 50%;
  display: inline-block;
  margin-bottom: -10px;
  margin-top: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 50%;
  height: 25px;
  font-family: "Gold Leaf", serif;
  font-size: 15pt;
}

#form-container {
  opacity: 1;
  display: inline-block;
  background-color: whitesmoke;
  width: 45%;
  height: 250px;
  position: relative;
  left: 10%;
  top: -12%;
  margin: auto;
  padding: 20px 0 20px 0;
  border-radius: 12px;
}

#form-container > p {
  width: 50%;
  margin: 7px auto 0 auto;
  text-align: left;
  font-size: 15pt;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.snack-bar {
  width: 25%;
  display: inline-flex;
  justify-content: space-between;
  background-color: #222532;
  padding: 12px 15px 12px 15px;
  position: absolute;
  top: 5%;
  right: 25%;
  color: white;
  font-size: 17pt;
  // font-family: "Gold Leaf", serif;
  border-radius: 5px;
  z-index: 10;
}

.snack-bar-close {
  padding: 4px 12px 4px 12px;
  display: flex;
  justify-content: center;
  color: white;
}

.snack-bar-close:hover {
  background-color: grey;
  border-radius: 5px;
  cursor: pointer;
}

// Animation definitions
// @keyframes transformLeft
//   0%
//     top: 45%
//     left: 34.5%
//     height: 10%
//     width: 30%
//     border: 20px
//
//   100%
//     width: 25%
//     height: 100%
//     top: 0
//     left: 0
//     border-radius: 0
//
// @keyframes transformButton
//   //0%
//   //  transform: translate(-10%,0%)
//
//
//   100%
//     transform: translateY(170%)
//     margin: auto
//
//
// @keyframes transformSplashText
//   0%
//     transform: translate(0, 0)
//     width: 200px
//
//   100%
//     width: 10%
//     transform: translate(-150%, 80%)
//     margin: auto
//
//
// @keyframes buttonFadeOut
//   0%
//     opacity: 1
//
//   100%
//     opacity: 0
//
// @keyframes fadeInForm
//   0%
//     display: block
//     opacity: 0
//     transform: translateY(0%)
//
//   100%
//     display: block
//     opacity: 1
//     transform: translateY(150%)
//
//
// @keyframes buttonSlideDown
//   0%
//     //transform: translate(0,0)
//     width: 80px
//     padding: 21px 45px 21px 45px
//     background-color: whitesmoke
//     top: 20%
//
//   100%
//     //transform: translate(450%,130%)
//     padding: 17px 35px 17px 35px
//     background-color: cornflowerblue
//     color: white
//     top: 70%
//     left: 220%
//     font-weight: bold
//
// @keyframes snackbarAnimation {
//   0%
//     opacity: 0
//     display: none
//
//   20%
//     opacity: 1
//     display: block
//
//   90%
//     opacity: 1
//     display: block
//
//   100%
//     opacity: 0
//     display: none
// }

// responsiveness
// mobile phones
$mobile: 600px;
$tablet: 1127px;

// mobile
@media screen and (max-width: $mobile) {
  div.splash-text {
    font-size: 1.4rem;
    display: flex;
    flex-wrap: wrap;
    line-height: 30px;
    top: 10%;
  }

  div.items-container {
    width: 100%;
    margin: auto;
    background-color: yellow;
  }

  .button {
    width: auto;
    // font-family: u
  }
}
