<form class="tw-flex tw-flex-col container">
  <h1 class="splash">School Management System</h1>

  <div class="tw-flex tw-flex-col tw-gap-2 tw-p-6">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input [formControl]="email" type="email" matInput placeholder="Example: pat@example.com"/>
      <mat-error *ngIf="email.hasError('email')">Please enter a valid email address</mat-error>
      <mat-error *ngIf="email.hasError('required')">Email is <strong>required</strong></mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput [formControl]="password" [type]="visible ? 'text' : 'password'"/>
      <mat-icon matSuffix (click)="toggle()">
        {{ visible ? "visibility" : "visibility_off" }}
      </mat-icon>
      <mat-hint>Password should be at least 6 characters long</mat-hint>
      <mat-error *ngIf="password.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input matInput [formControl]="confirm" [type]="visible ? 'text' : 'password'"/>
      <mat-icon matSuffix (click)="toggle()">
        {{ visible ? "visibility" : "visibility_off" }}
      </mat-icon>
      <mat-error *ngIf="confirm.hasError('required')">Confirmation password is <strong>required</strong></mat-error>
      <mat-error *ngIf="confirm.hasError('match')">Passwords must match.</mat-error>
    </mat-form-field>

    <hr class="tw-w-full tw-mb-6"/>

    <mat-form-field appearance="outline">
      <mat-label>First name</mat-label>
      <input [formControl]="firstname" type="text" matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Last name</mat-label>
      <input [formControl]="lastname" type="text" matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Mobile</mat-label>
      <input [formControl]="mobile" type="tel" matInput />
    </mat-form-field>

    <mat-checkbox [formControl]="policy" color="accent">
      <p class="hint" color="accent">
        I have read and understood the <a href="/">terms of use</a> and <a href="">privacy policy</a>.
      </p>
    </mat-checkbox>

    <div class="tw-flex tw-flex-col tw-gap-4 tw-mt-3">
      <button (click)="submit()" type="button" color="primary" mat-raised-button [disabled]="form.invalid">
        <ng-container *ngIf="!(loading$ | async)">Register</ng-container>
        <mat-progress-spinner *ngIf="loading$ | async" class="spinner" diameter="24" mode="indeterminate"></mat-progress-spinner>
      </button>

      <mat-error *ngIf="error$ | async" class="tw-text-center error">Incorrect email address or password.</mat-error>
      <hr class="tw-mt-2 tw-w-full"/>

      <button (click)="login()" color="primary" type="button" mat-stroked-button>Login Instead</button>
    </div>

  </div>
</form>

<p class="copyrights">copyrights &copy; 2023</p>
