<div id="registration-container">
  <h1 class="splash-text">School Management System</h1>

  <div id="registration-form-container">
    <form class="form-container">
      <!-- First name form field -->
      <mat-form-field class="username container first-name">
        <mat-label>First name</mat-label>
        <input [formControl]="username" type="text" matInput />

        <mat-error *ngIf="username.hasError('required')"
          >First name is <strong>required</strong></mat-error
        >
      </mat-form-field>

      <!-- Surname form field -->
      <mat-form-field class="user-surname container surname">
        <mat-label>Surname</mat-label>
        <input [formControl]="userSurname" type="text" matInput />
        <mat-error *ngIf="userSurname.hasError('required')"
          >Surname is <strong>required</strong></mat-error
        >
      </mat-form-field>

      <!-- Contact form field -->
      <mat-form-field class="user-contact container contact">
        <mat-label>Contact</mat-label>
        <input [formControl]="userContact" type="tel" matInput />
        <mat-error *ngIf="userContact.hasError('required')">
          Contact is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <!-- Email form field -->
      <mat-form-field class="user-email container contact">
        <mat-label>Email</mat-label>
        <input
          [formControl]="userEmail"
          type="email"
          matInput
          [errorStateMatcher]="matcher"
          placeholder="mail@example.com"
        />
        <mat-error
          *ngIf="userEmail.hasError('email') && !userEmail.hasError('required')"
        >
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="userEmail.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <!-- User role form field -->
      <mat-form-field class="user-role container">
        <mat-label>User Role</mat-label>
        <input
          matInput
          [formControl]="userRole"
          type="text"
          [readonly]="true"
        />
      </mat-form-field>
    </form>

    <!-- Passwords form group -->
    <form [formGroup]="passwordForm" class="form-group">
      <!-- Password form field -->
      <mat-form-field class="user-password container password">
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          [type]="visible ? 'text' : 'password'"
        />
        <mat-icon matSuffix style="cursor: pointer" (click)="showPassword()">
          {{ !visible ? "visibility" : "visibility_off" }}
        </mat-icon>
        <mat-hint>Password should be at least 6 characters long</mat-hint>
        <mat-error *ngIf="passwordForm.get('password')!.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="passwordForm.get('password')!.hasError('pattern')">
          Password should have a capital letter and a number as part of it
        </mat-error>
      </mat-form-field>

      <!-- Confirm password form field -->
      <mat-form-field class="user-confirm-password container confirm-password">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          formControlName="confirmPassword"
          [type]="confirmVisible ? 'text' : 'password'"
        />
        <mat-icon
          matSuffix
          style="cursor: pointer"
          (click)="showConfirmPassword()"
        >
          {{ !confirmVisible ? "visibility" : "visibility_off" }}
        </mat-icon>
        <mat-error
          *ngIf="passwordForm.get('confirmPassword')!.hasError('required')"
        >
          Confirmation password is <strong>required</strong>
        </mat-error>
        <mat-error
          *ngIf="passwordForm.get('confirmPassword')!.hasError('matching')"
        >
          Passwords must match.
        </mat-error>
      </mat-form-field>
    </form>
    <!-- Buttons container -->
    <div class="buttons-container">
      <!-- login button -->
      <button
        class="button login-button-material"
        (click)="navToLogin()"
        mat-button
      >
        Login Instead
      </button>

      <!-- Register button -->
      <button
        *ngIf="!isLoading"
        class="button register-button-material"
        (click)="submitForm()"
        mat-raised-button
      >
        Register
      </button>
    </div>
    <div *ngIf="isLoading" class="register-spinner-container">
      <mat-spinner class="reg-spinner" mode="indeterminate"></mat-spinner>
    </div>
  </div>
  <div class="add-space"></div>
</div>
