<h2 mat-dialog-title class="title">Change Class Name</h2>

<div mat-dialog-content>
  <app-banner *ngIf="error$ | async" type="error" class="tw-my-4 banner">
    <p message>Something went wrong. Please try again.</p>
  </app-banner>

  <p class="hint"><mat-icon>info_outline</mat-icon> Name your classes systematically so you are able to keep track of the order of all your classes.</p>

  <div [formGroup]="form">
    <mat-form-field appearance="outline" class="tw-w-full">
      <mat-label>Name</mat-label>
      <input formControlName="name" type="text" matInput/>

      <mat-error *ngIf="form.controls.name.hasError('required')">Please provide a new name for the class</mat-error>
    </mat-form-field>
  </div>
</div>

<div mat-dialog-actions class="controls">
  <button mat-button class="tw-ml-auto" [disabled]="loading$ | async" (click)="close()">Cancel</button>
  <button mat-flat-button color="primary" class="tw-mx-4" [disabled]="form.invalid || (loading$ | async)" (click)="submit()">
    <ng-container *ngIf="!(loading$ | async)">Save</ng-container>
    <mat-progress-spinner *ngIf="loading$ | async" diameter="20" mode="indeterminate"></mat-progress-spinner>
  </button>
</div>

<ng-container *ngIf="(complete$ | async) && close()"></ng-container>
