// material styles
.container
  // background-color: brown
  width: 100%

.title-container
  background-color: cornflowerblue
  text-align: center
  font-size: 5rem
  position: relative
  top: 50px

.instructions
  // background-color: purple 
  width: 40%
  margin: auto
  position: relative
  text-align: center
  font-size: 1.7rem
  line-height: 30px
  top: 150px

.form-container
  background-color: #eee
  border-radius: 12px
  width: 40%
  margin: auto
  position: relative
  top: 200px
  padding: 35px

.form 
  max-width: 500px
  min-width: 120px
  width: 100%
  margin: auto
  // background-color: brown

.form-field
  width: 100%

.buttons-container
  width: 500px
  // background-color: yellow
  text-align: center
  margin: 24px auto

.submit
  margin-left: 12px

.add
  margin-right: 12px
