<div class="container">

  <div class="title-container"><h2>Form Input: Departments</h2></div>
  <p>The form below contains input elements for departments. Click on the Add button to add a new input field.</p>
  <div class="form-container">
    <div id="input-container">
      <input type="text" name="department" value=""><br />
      <input type="text" name="department" value=""><br />
      <input type="text" name="department" value=""><br />
    </div>

    <button class="add button" (click)="appendInput()">Add Class +</button>
    <button class="submit button" (click)="submitDepartments()">Submit</button>
  </div>
</div>
