.pass-controls-added {
  margin: 24px auto;
  display: flex;
  justify-content: space-evenly;
  width: 30%;
}

.scoresheet-info {
  height: auto;
  padding: 12px;
  background-color: cornflowerblue;
  text-align: center;
  font-size: 2.3rem;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
}
