.add-marks-wrapper {
  // text-align: center;
  width: 60%;
  margin: auto;
}

td {
  text-align: center;
  margin: auto;
  // background-color: yellow;
}

.students-table-wrapper {
  width: 100%;
  // text-align: center;
}

.input-fields-container {
  background-color: #eee;
  border-radius: 12px;
  padding: 12px;
  // text-align: center;
  // margin-bottom: 24px;
}

.form-field {
  width: 60%;
  margin: 12px auto;
  text-align: center;
}

.students-metadata {
  margin: auto;
  text-align: center;
}

.buttons-container {
  margin: 24px auto;
  // background-color: yellow;
  text-align: center;
}
