div.add-marks-wrapper {
  // text-align: center;
  width: 100%;
  // margin: auto;
  background-color: #eee;
  display: block;
  flex-direction: column;
  justify-content: center;
}

td {
  text-align: center;
  margin: auto;
  // background-color: yellow;
}

.students-table-wrapper {
  width: 70%;
  padding: 7px;
  background-color: #f3f3f3;
  margin: auto;
  // text-align: center;
}

.subject-info-wrapper,
.input-fields-container,
.upload-excel-sheet {
  min-width: 300px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.input-fields-container {
  background-color: #eee;
  border-radius: 12px;
  padding: 12px;
  // text-align: center;
  // margin-bottom: 24px;
}

.form-field {
  width: 60%;
  margin: 12px auto;
  text-align: center;
}

.students-metadata {
  margin: auto;
  text-align: center;
}

.buttons-container {
  margin: 24px auto;
  text-align: center;
}

.finish-button {
  display: flex;
  width: 20%;
  justify-content: center;
  margin: auto;
}

:host ::ng-deep .finish-button-spinner circle,
.mat-spinner circle {
  stroke: black;
  width: 50px;
}

.upload-excel-sheet {
  background-color: #eee;
  text-align: center;
  margin: 16px auto;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.is-upload-marks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.form-control {
  border: 1px solid black;
  max-width: 250px;
}

@media screen and (max-width: 768px) {
  th {
    display: none;
  }

  td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    padding-left: 8%;
  }

  div.add-marks-wrapper {
    width: 100%;
  }

  .form-field {
    width: 80%;
  }
  .input-fields-container {
    width: 85%;
    margin: auto;
  }

  .mat-column-index {
    width: 100% !important;
    font-family: var.$regular;
    text-align: right;
  }

  .mat-column-name_surname {
    width: 100% !important;
    font-family: var.$regular;
    text-align: right;
  }

  .mat-column-score {
    width: 100% !important;
    font-family: var.$regular;
    text-align: right;

    mat-form-field {
      height: auto;
      margin-top: 12px;
    }
  }

  .mat-column-percentage {
    width: 100% !important;
    text-align: right;
  }

  table {
    width: auto !important;
  }

  .students-table-wrapper {
    width: 100%;
    padding: 7px;
    background-color: #f3f3f3;
    margin: auto;
    // text-align: center;
  }

  // .buttons-container {
  //   margin: 40px;
  // }

  .upload-excel-sheet {
    width: auto;
    min-width: 50px;
    padding: 7px;
    margin: auto;
    display: flex;
    justify-content: center;
  }
}
