.add-marks-wrapper {
  // text-align: center;
  width: 60%;
  margin: auto;
}

td {
  text-align: center;
  margin: auto;
  // background-color: yellow;
}

.students-table-wrapper {
  width: 100%;
  background-color: yellow;
  // text-align: center;
}

.input-fields-container {
  background-color: #eee;
  border-radius: 12px;
  padding: 12px;
  // text-align: center;
  // margin-bottom: 24px;
}

.form-field {
  width: 60%;
  margin: 12px auto;
  text-align: center;
}

.students-metadata {
  margin: auto;
  text-align: center;
}

.buttons-container {
  margin: 24px auto;
  // background-color: yellow;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .add-marks-wrapper {
    width: 100%;
  }

  .form-field {
    width: 80%;
  }
  .input-fields-container {
    width: 85%;
    margin: auto;
  }

  .students-table-wrapper {
    background-color: green;
  }

  ::ng-deep {
    mat-table {
      background-color: red;
    }

    ng-container.index {
      margin-top: 24px;
    }
  }

  td {
    display: flex;
    flex-direction: column;
  }

  th {
    display: flex;
    flex-direction: column;
  }
}
