<app-add-dialog [dialogTitle]="title">
  <div class="dialogContent">
    <div class="mat-typography instructions">
      The form below contains input elements for streams (classnames). Click on
      the
      <strong>Add Stream +</strong> button to add a new input field.
    </div>

    <div id="form-container" class="form-container">
      <form id="input-container" class="form">
        <div
          *ngFor="let inside of classNames; let i = index; trackBy: trackByFn"
        >
          <mat-form-field class="form-field">
            <mat-label>Name</mat-label>
            <input
              id="{{ i }}"
              #inputField
              type="text"
              name="classname{{ i }}"
              matInput
              placeholder="e.g. Form 1A"
              [(ngModel)]="classNames[i].name"
            />
          </mat-form-field>
        </div>
      </form>
    </div>
  </div>
  <mat-dialog-actions class="dialogButtons button-container">
    <button mat-raised-button color="warn" (click)="closeStreamDialog()">
      Close
    </button>
    <button
      class="add button"
      mat-button
      color="primary"
      (click)="appendInput()"
    >
      Add Class +
    </button>
    <button
      class="submit button"
      mat-raised-button
      color="primary"
      (click)="submitStreamsRequest()"
    >
      Submit
    </button>
  </mat-dialog-actions>
</app-add-dialog>
