@use "../../../my-styles.scss" as var;

.view-reports-wrapper {
  width: auto;
  text-align: center;
  padding: 7px;
}

button.button {
  background-color: var.$primary;
  font-family: var.$regular;
  color: white;
}

.buttons-wrapper {
  margin: 24px auto;
}

.data-container {
  margin-top: 24px;
  text-align: center;
  width: auto;
  margin: auto;
}

td {
  text-align: center;
}

.cursor-style:hover {
  cursor: pointer;
}

.add-attendance {
  position: relative;
  top: -10px;
}
