<h1 mat-dialog-title class="fira-code-bold">{{ data.title }}</h1>
<mat-dialog-content class="fira-code">
  <p>
    You are about to delete the Head of Department
    <b>{{ data.teacher_title }} {{ data.name }} {{ data.surname }}</b
    >, from being the head of department in <b>{{ data.department }}</b
    >. Are you sure you want to delete
    {{ data.teacher_title === "Mr." ? "him" : "her" }} completely ?
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button class="fira-code" (click)="closeDialog()">Cancel</button>
  <button
    mat-raised-button
    class="confirmed fira-code"
    (click)="deleteConfirmed()"
  >
    Confirm
  </button>
</mat-dialog-actions>
