@font-face
  font-family: "Love Me"
  src: url("../../assets/KgDoYouLoveMeRegular-1V4e.ttf")
@font-face
  font-family: "Gold Leaf"
  src: url("../../assets/GoldleafBoldPersonalUseBold-eZ4dO.ttf")

.login-container
  width: 100%
  height: 100vh
  background-color: whitesmoke
  background-image: url("../../assets/compass.jpg")
  background-repeat: repeat

.items-container
  background-color: cornflowerblue
  position: relative
  top: 0
  left: 0
  width: 25%
  height: 100%

.splash-text
  font-family: "Love Me", serif
  position: relative
  top: 20%
  font-size: 40pt
  display: block
  margin: auto
  z-index: 10
  width: 60%
  text-align: center

.button
  position: absolute
  top: 60%
  background-color: whitesmoke
  text-align: center
  border-radius: 12px

.login
  position: absolute
  top: 70%
  left: 225.5%
  background-color: cornflowerblue
  color: white
  font-size: 17pt
  padding: 25px 50px


.register
  position: absolute
  left: 33%
  background-color: whitesmoke
  padding: 25px 50px
  font-size: 17pt

a
  color: inherit
  text-decoration: none

.label
  width: 50%
  display: block
  margin: 20px auto 0 auto
  text-align: left
  text-decoration: underline
  font-size: 18pt

input[type = text], input[type = password], input[type = email]
  width: 50%
  height: 25px
  font-family: 'Gold Leaf', serif
  font-size: 15pt
  margin-top: -500px

#form-container-login
  opacity: 1
  display: inline-block
  text-align: center
  background-color: whitesmoke
  width: 45%
  height: 250px
  position: absolute
  left: 39%
  top: 30%
  margin: auto
  padding: 20px 0 20px 0
  border-radius: 12px

#form-container-login > p
  width: 50%
  margin: 7px auto 0 auto
  text-align: left
  font-size: 15pt

input[type = checkbox]
  width: 20px
  height: 20px

//  Animation definitions
@keyframes snackbarAnimation
  0%
    opacity: 0
    display: none

  20%
    opacity: 1
    display: block

  90%
    opacity: 1
    display: block

  100%
    opacity: 0
    display: none
