<div class="login-container">
  <div class="items-container">
    <h1 color="primary" class="splash-text">School Management System</h1>

    <div id="form-container-login" *ngIf="!(isSchoolInfoLoading$ | async)">
      <form class="form-container">
        <mat-form-field class="email form-field">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            [formControl]="email"
            placeholder="Example: pat@example.com"
            [errorStateMatcher]="matcher"
          />
          <mat-error
            *ngIf="email.hasError('email') && email.hasError('required')"
          >
            Please enter a valid email address.
          </mat-error>
          <mat-error *ngIf="email.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="password form-field">
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            [formControl]="password"
            [type]="visible ? 'text' : 'password'"
          />
          <mat-icon matSuffix style="cursor: pointer" (click)="showPassword()">
            {{ visible ? "visibility" : "visibility_off" }}</mat-icon
          >
          <mat-error *ngIf="password.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <div class="buttons-container">
          <button
            *ngIf="!(isLoading$ | async)"
            class="login button"
            (click)="submitForm()"
            mat-raised-button
            type="button"
          >
            Login
          </button>
          <div *ngIf="isLoading$ | async" class="login-spinner-container">
            <mat-progress-spinner
              class="login-spinner"
              mode="indeterminate"
            ></mat-progress-spinner>
          </div>
          <br />

          <button class="register button" (click)="navToRegister()" mat-button>
            Register instead
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="spinner check-modules" *ngIf="isSchoolInfoLoading$ | async">
  <div class="spinner-container">
    <mat-spinner class="modules-spinner"></mat-spinner>
    <span>Checking modules</span>
  </div>
</div>
