<mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title class="card-title">
      {{ title }}
      <button
        mat-icon-button
        class="more-button"
        [matMenuTriggerFor]="menu"
        aria-label="Toggle menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="comingSoon()">Expand</button>
        <button mat-menu-item (click)="comingSoon()">Remove</button>
      </mat-menu>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">
    <div *ngIf="title !== 'Overview'">
      <mat-grid-list cols="3" rowHeight="80px">
        <mat-grid-tile
          class="grid-tile"
          [style.backgroundColor]="
            numberOfItems[index] == '0' ? warnColor : greyColor
          "
          ><div class="grid-number" style="line-height: 20px">
            # of items:&nbsp;{{ numberOfItems[index] }}
          </div>
        </mat-grid-tile>
        <mat-grid-tile
          ><button
            mat-raised-button
            class="add-button"
            (click)="openDialog(navLinks[index].add)"
          >
            Add
          </button></mat-grid-tile
        ><mat-grid-tile
          ><button
            mat-raised-button
            class="view-button"
            [routerLink]="navLinks[index].view"
          >
            View
          </button></mat-grid-tile
        >
      </mat-grid-list>
    </div>
  </mat-card-content>
</mat-card>
