.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

mat-grid-tile {
  margin-top: 24px;
  border-radius: 6px;
}

.mat-h1 {
  margin-top: 12px;
}

button.view-button {
  background: green;
  color: white;
}

button {
  width: 70%;
  padding: 24px;
}

button.add-button {
  color: white;
}

button.view-button {
  color: black;
}

.grid-tile {
  color: black;
}

@media screen and (max-width: 768px) {
  div.grid-number {
    font-size: 0.7rem;
    padding: 12px;
  }

  button.view-button,
  button.add-button {
    font-size: 0.65rem;
  }
}

@media screen and (max-width: 1120px) {
  button.view-button,
  button.add-button {
    font-size: 0.8rem;
  }
}
