@use "../../../my-styles.scss" as var;

.full-width-table {
  width: 60%;
}

table {
  width: 60%;
}

td {
  background-color: whitesmoke;
  text-align: center;
}

.table-container {
  border: 0 solid black;
  margin: auto;
}

div.buttons-container > button {
  margin: 25px auto;
  height: 49px;
  width: 15%;
  display: block;
}

.no-data {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 24px;
}

button.add-button {
  background-color: var.$primary;
  color: white;
}

.fira-code {
  font-family: var.$regular;
}

.mdc-data-table__pagination-total,
.mdc-data-table__pagination-rows-per-page-label,
.mdc-data-table__cell,
.mat-mdc-select-value,
.mat-mdc-paginator {
  font-family: var.$regular;
}
