@use "../../my-styles.scss" as var;

.content-container {
  display: flex;
  flex-flow: column;
  height: 100%;
  font-family: var.$regular;
}

.toolbar {
  // flex: 0 1 auto;
  background-color: var.$primary;
  color: white;
  font-family: var.$regular;
  font-size: 1.5rem;
}

.container {
  flex: 0 1 auto;
}

.padding-10 {
  padding: 10px;
}

a.nav-link {
  display: inline-flex;
}

span {
  font-family: var.$regular;
}

:host ::ng-deep {
  mat-icon.nav {
    color: var.$secondary;
  }
}

@media screen and (max-width: 768px) {
  .toolbar {
    font-size: 1rem;
  }
}

@media screen and (max-width: 375px) {
  .toolbar {
    font-size: 0.7rem;
  }
}
