<app-add-dialog [dialogTitle]="dialogTitle"
  ><div class="dialogContent">
    <div class="mat-typography instructions">
      Add the subjects for each department respectively. Click on the
      <strong>Add Subject +</strong> button to add a new subject input field for
      that department.
    </div>
    <div id="builder" class="form-container">
      <div
        class="form-field"
        *ngFor="let department of elements; let i = index"
      >
        <div id="{{ i }}">
          <h2 class="mat-typography dept">
            {{ i + 1 }}: {{ department.dept_name }}
          </h2>
          <div *ngFor="let sub of department.subjects; let j = index">
            <mat-form-field>
              <mat-label>Subject</mat-label>
              <input
                type="text"
                id="{{ i }}"
                #inputFieldSubject
                [(ngModel)]="sub.name"
                name="subject{{ i }}"
                matInput
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Level: Secondary/High School</mat-label>
              <input
                type="text"
                #inputFieldLevel
                [(ngModel)]="sub.level"
                name="level{{ i }}"
                matInput
              />
            </mat-form-field>
          </div>
        </div>
        <button
          (click)="addIn(i)"
          color="primary"
          class="add button mat-typography"
          mat-raised-button
        >
          Add +
        </button>
      </div>
    </div>
  </div>
  <mat-dialog-actions class="dialogButtons buttons-container">
    <button mat-raised-button color="warn" (click)="closeSubjectDialog()">
      Close
    </button>
    <button
      class="submit"
      mat-raised-button
      color="primary"
      (click)="submitSubjectsRequest()"
    >
      Submit
    </button>
  </mat-dialog-actions>
</app-add-dialog>
