// .school-reg-container
//   position: absolute
//   background-color: white
//   width: 100%
//   height: 100%
//   font-family: Calibri, sans-serif
//   overflow-x: hidden
//
// .line
//   width: 100%
//   border: 1px black solid
//
// .school-reg-title
//   background-color: cornflowerblue
//   display: inline-block
//   width: 100%
//   text-align: center
//
// .school-reg-title > p
//   font-size: 30pt
//
// .school-reg-form
//   background-color: whitesmoke
//   position: absolute
//   right: 0
//   left: 0
//   display: block
//   width: 30%
//   padding: 2%
//   margin: 60px auto 0 auto
//   border-radius: 12px
//
// label
//   font-size: 20pt
//
// .container
//   display: inline-block
//   margin-top: 12px
//
// input
//   width: 450px
//   height: 40px
//   font-size: 20pt
//
// .submit-button
//   background-color: cornflowerblue
//   display: block
//   margin: 20px auto 0 auto
//   text-align: center
//   font-size: 20pt
//   width: 80%
//   border-radius: 7px
//   padding: 2%
//
// .submit-button:hover
//   cursor: pointer
//   box-shadow: black 2px 2px 10px
//   color: white
//

// material styles 
.school-reg-container
  width: 100%
  height: auto
  position: relative
  // background-color: red

.school-reg-title
  position: relative
  top: 60px
  background-color: cornflowerblue
  height: 20px
  text-align: center
  font-size: 6rem

.school-reg-form
  width: 40%
  background-color: #eee
  margin: auto
  position: relative
  top: 180px
  border-radius: 12px

.registration-form
  // min-width: 120px
  // max-width: 500px
  width: 100%
  background-color: #eee
  border-radius: 12px
  display: flex
  flex-flow: column
  padding: 24px

.container
  min-width: 120px
  max-width: 500px
  width: 100%
  margin: auto

button
  width: 40%
  margin: auto
