// material styles
.container {
  width: 100%;
}

.title-container {
  text-align: center;
  font-size: 5rem;
  position: relative;
  top: 50px;
  background-color: cornflowerblue;
}

.instructions {
  position: relative;
  width: 70%;
  line-height: 30px;
  color: black;
  margin: auto;
  text-align: center;
  font-size: 1.2rem;
}

.form-container {
  background-color: #eee;
  padding: 24px;
  position: relative;
  top: 30px;
  width: 50%;
  border-radius: 12px;
  margin: 24px auto;
}

.form-field {
  margin: 7px auto;
  //padding: 12px;
  border-radius: 12px;
}

mat-form-field {
  width: 80%;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
}

.buttons-container {
  text-align: center;
}

.menu {
  margin: 7px auto;
  text-align: center;
}

.file-selector {
  margin: auto;
  background-color: #eee;
  text-align: center;
  border-radius: 12px;
  padding: 24px;

  p {
    font-weight: bold;
    color: black;
  }
}
