<app-add-dialog [dialogTitle]="title">
  <div class="dialogContent">
    <div class="mat-typography instructions">
      The form below contains input fields for class learner.
    </div>

    <div class="file-selector">
      <p>You can use also add students by selecting an excel file</p>
      <!-- <div class="col-md-8 form-group"> -->
      <!--   <input -->
      <!--     type="file" -->
      <!--     class="form-control" -->
      <!--     (change)="addFile($event)" -->
      <!--     placeholder="Upload file" -->
      <!--     accept=".csv, application/vnd/openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" -->
      <!--   /> -->
      <!-- </div> -->
      <button
        mat-raised-button
        color="accent"
        [routerLink]="routerLink"
        (click)="addStudentsByExcel()"
      >
        Add Students By Excel
      </button>
    </div>

    <div id="form-container" class="form-container">
      <form id="input-container" class="form">
        <div class="form-field menu class-stream">
          <button mat-raised-button [matMenuTriggerFor]="classStream">
            {{ classSelection.name }}
          </button>
          <mat-menu #classStream="matMenu">
            <div *ngFor="let class of data; let i = index">
              <button mat-menu-item (click)="selectClassname(class)">
                {{ class.name }}
              </button>
            </div>
          </mat-menu>
        </div>
        <mat-form-field class="form-field name">
          <mat-label>Name</mat-label>
          <input
            id="name"
            type="text"
            name="learnerName"
            matInput
            placeholder="e.g. Mazwi"
            [(ngModel)]="name"
          />
        </mat-form-field>
        <mat-form-field class="form-field surname">
          <mat-label>Surname</mat-label>
          <input
            id="surname"
            type="text"
            name="learnerSurname"
            matInput
            placeholder="e.g. Simelane"
            [(ngModel)]="surname"
          />
        </mat-form-field>

        <div class="form-field menu gender">
          <button mat-raised-button [matMenuTriggerFor]="gender">
            {{ genderSelection }}
          </button>
          <mat-menu #gender="matMenu">
            <button mat-menu-item (click)="selectGender('Female')">
              Female
            </button>
            <button mat-menu-item (click)="selectGender('Male')">Male</button>
          </mat-menu>
        </div>
        <mat-form-field class="form-field learner-contact">
          <mat-label>Learner Contact</mat-label>
          <input
            id="learner_contact"
            type="text"
            name="learnerContact"
            matInput
            placeholder="e.g. 78123456"
            [(ngModel)]="student_contact"
          />
        </mat-form-field>
        <mat-form-field class="form-field year">
          <mat-label>Year</mat-label>
          <input
            id="year"
            type="text"
            name="year"
            matInput
            placeholder="e.g. 2019"
            [(ngModel)]="year"
          />
        </mat-form-field>
      </form>
    </div>
  </div>
  <mat-dialog-actions class="dialogButtons buttons-container">
    <button mat-raised-button color="warn" (click)="closeClassStudentDialog()">
      Close
    </button>
    <button
      class="submit"
      mat-raised-button
      color="primary"
      (click)="submitClassStudent()"
    >
      Submit
    </button>
  </mat-dialog-actions>
</app-add-dialog>
