@use "sass:map";
@use "src/styles.scss" as sty;
@use "src/variables.scss" as var;
@use "@angular/material" as mat;

$color: mat.get-color-config(sty.$theme);
$primary: map.get($color, "primary");
$accent: map.get($color, "accent");
$warn: var.$warn-palette;

.title {
  display: flex;
  flex-flow: column;

  > h2 {
    color: mat.get-color-from-palette($primary, 600);
    margin: 0;
  }
  > p {
    color: mat.get-color-from-palette($primary, 400);
    margin-bottom: 4px;
  }
}

.school {
  > div {
    > h2 {
      display: flex;
      align-items: center;
      margin: 0;
      color: mat.get-color-from-palette($primary, 600);
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }

      > mat-icon {
        margin-right: 12px;
      }
    }
  }
  > hr {
    background-color: mat.get-color-from-palette($primary, 100);
  }
}

.schools {
  > hr {
    background-color: mat.get-color-from-palette($primary, 100);
  }
}

.class {
  width: 288px;
  // height: 144px;
}

.class-content {
  height: 100%;
  position: relative;

  > div:first-child {
    flex: 1;
    padding: 24px;
    background-color: mat.get-color-from-palette($primary, 100);
  }

  > div:last-child {
    > h1 {
      font-size: 16pt;
    }
  }

  > mat-icon {
    position: absolute;
    top: 18px;
    right: 18px;
    color: mat.get-color-from-palette($primary, 600);
  }
}

.tiny {
  color: mat.get-color-from-palette($primary, 600);
  font-size: 8pt;

  &:hover {
    text-decoration: underline
  }
}

.warn {
  color: mat.get-color-from-palette($warn, 600) !important;
  font-weight: 500
}

.subjects {
  > p {
    color: mat.get-color-from-palette($primary, 900);
    margin-bottom: 4px;
  }

  > div {
    flex-wrap: wrap;
    gap: 2px;
    align-items: center;

    > p {
      font-size: 8pt;
      text-decoration: underline;
      word-wrap: none;
      margin: 0;
      color: mat.get-color-from-palette($primary, 600);

      &:not(:last-child)::after {
        content: ', ';
      }
    }

    &::after {
      content: '...';
      color: mat.get-color-from-palette($primary, 600);
    }
  }
}

.manage {
  > div {
    color: mat.get-color-from-palette($primary, 600);
    font-weight: 400;
    cursor: pointer;
    font-size: 11pt;

    &:hover {
      text-decoration: underline;
    }
  }
}

.warning {
  background: mat.get-color-from-palette($warn, 100);
  color: mat.get-color-from-palette($warn, 600);
  margin-left: 8px;

  font-size: 10pt;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
  border-radius: 6px;
}
