<app-title>Overview &amp; Updates</app-title>

<app-content *ngIf="user$ | async as user">
  <app-loader *ngIf="!!(loading$ | async)" [diameter]="32" color="primary"></app-loader>

  <div class="schools" *ngIf="!(loading$ | async)">
    <div class="title">
      <h2>{{ user.firstname }}'s Schools</h2>
      <p>View your recent school updates.</p>
    </div>

    <hr class="tw-my-6"/>

    <ng-container *ngIf="notifications$ | async as notifications">
      <app-banner [type]="notification.type" [dismissable]="true" (dismissed)="dismiss(notification)" *ngFor="let notification of notifications" class="tw-mb-6">
        <p message>{{ notification.message }}</p>
        <button mat-flat-button [routerLink]="[notification.payload.id, 'classes']" controls>View</button>
      </app-banner>
    </ng-container>

    <ng-container *ngIf="!(loading$ | async)">
      <div class="school tw-mb-12" *ngFor="let school of (schools$ | async)">
        <div class="tw-flex tw-items-center tw-mb-4">
          <h2 [routerLink]="[school.id, 'classes']"><mat-icon>school</mat-icon>{{ school.name }}</h2>
          <div class="tw-ml-4 chip">{{ school.students?.length ?? 0}} students</div>
          <mat-icon class="warning" *ngIf="showschoolwarning(school)">warning</mat-icon>
        </div>

        <div class="tw-flex tw-flex-wrap tw-items-center tw-mt-2 tw-gap-8">
          <app-panel class="class" *ngFor="let class of orderbylastupdated(school.classes ?? []) | slice:0:8">
            <div class="tw-flex tw-flex-col class-content">
              <div class="subjects">
                <p>Subjects ({{ class.subjects?.length ?? 0 }})</p>
                <div class="tw-flex">
                  <p *ngFor="let subject of (class.subjects ?? []) | slice:0:3">{{ subject.name }}</p>
                  <p *ngIf="(class.subjects ?? []).length < 1">no subjects associated</p>
                </div>
              </div>
              <div class="tw-p-4 tw-flex tw-cursor-pointer tw-items-center" matRipple [routerLink]="[school.id, 'classes', class.id]">
                <h1 class="tw-m-0">{{ class.name }}</h1>
                <div class="tw-ml-auto tiny" [class.warn]="!class.students?.length">{{ class.students?.length ?? 0 }} students</div>
              </div>

              <mat-icon [matTooltip]="'Click to manage ' + class.name" [routerLink]="[school.id, 'classes', class.id]">link</mat-icon>
            </div>

          </app-panel>

          <div class="tw-flex tw-flex-col tw-mx-auto class-content" *ngIf="true">
            <button mat-stroked-button color="primary" [routerLink]="[school.id, 'classes']">view all</button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</app-content>

