@use "../../../theme.scss" as var;

.add-conduct-wrapper {
  width: 100%;
  font-family: var.$regular;
}

.title-wrapper {
  text-align: center;
}

.title {
  padding: 12px;
  font-family: var.$bold;
  font-size: 1.4rem;
  text-decoration: underline;
}

.add-button > button {
  background-color: var.$primary;
  width: 15%;
  color: white;
}

.no-data {
  font-family: var.$semi-bold;
  font-size: 1.4rem;
  text-align: center;
}

td,
th {
  width: 20%;
  text-align: center;
}
