<form class="tw-flex tw-flex-col container">
  <h1 color="primary" class="splash">School Management System</h1>

  <div class="tw-flex tw-flex-col tw-gap-2 tw-p-6">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Example: pat@example.com" [formControl]="email"/>
      <mat-error *ngIf="email.hasError('email') || email.hasError('required')">
        Please enter a valid email address.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
      type="password"
      matInput
      [formControl]="password"
      [type]="visible ? 'text' : 'password'"
      />
      <mat-icon matSuffix (click)="toggle()">{{ visible ? "visibility" : "visibility_off" }}</mat-icon>
      <mat-error *ngIf="password.hasError('required')">
        Please enter your password.
      </mat-error>
      <mat-hint>Keep your password confidential and secure.</mat-hint>
    </mat-form-field>

    <div class="tw-flex tw-flex-col tw-gap-4 tw-mt-2">
      <button mat-raised-button color="primary" type="button" [disabled]="form.invalid" (click)="submit()">
        Login
      </button>

      <hr class="tw-my-2 tw-w-full"/>

      <button color="primary" (click)="register()" mat-stroked-button>
        Register Instead
      </button>
    </div>

    <div class="tw-flex tw-mt-4 tw-flex-col tw-items-center">
      <mat-progress-spinner *ngIf="loading$ | async"
        class="login-spinner"
        diameter="32"
        mode="indeterminate"></mat-progress-spinner>
      <mat-error *ngIf="error$ | async">Incorrect email or password.</mat-error>
    </div>
  </div>
</form>
