<div class="login-container">
  <div class="items-container">
    <h1 color="primary" class="splash-text">School Management System</h1>
    <div id="form-container-login">
      <form class="form-container">
        <mat-form-field class="email form-field">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            [formControl]="email"
            placeholder="Example: pat@example.com"
          />
          <mat-error
            *ngIf="email.hasError('email') && email.hasError('required')"
          >
            Please enter a valid email address.
          </mat-error>
          <mat-error *ngIf="email.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="password form-field">
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            [formControl]="password"
            [type]="visible ? 'text' : 'password'"
          />
          <mat-icon matSuffix (click)="toggle()">{{ visible ? "visibility" : "visibility_off" }}</mat-icon>
          <mat-error *ngIf="password.hasError('required')">Password is <strong>required</strong></mat-error>
        </mat-form-field>

        <div class="buttons-container">
          <button
            *ngIf="!(loading$ | async)"
            class="login button"
            (click)="submit()"
            mat-raised-button
            type="button"
          >
            Login
          </button>
          <div *ngIf="loading$ | async" class="login-spinner-container">
            <mat-progress-spinner
              class="login-spinner"
              mode="indeterminate"
            ></mat-progress-spinner>
          </div>
          <br />

          <button class="register button" (click)="register()" mat-button>
            Register instead
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
