@use 'sass:map';
@use 'src/styles.scss' as sty;
@use 'src/variables.scss' as var;
@use '@angular/material' as mat;

$color: mat.get-color-config(sty.$theme);
$primary: map.get($color, 'primary');

:host {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  height: 40px !important;
}

hr {
  border: none;
  height: 1px;

  background-color: mat.get-color-from-palette($primary, 100);
}

.container {
  width: var.$sm;
  border: 1px solid mat.get-color-from-palette($primary, 200);
  border-radius: 8px;
  overflow: hidden;

  box-shadow: 0 0 4px 1px #0001
}

.splash {
  background-color: mat.get-color-from-palette($primary, 500);
  font-size: 3.4rem;
  line-height: 4rem;

  padding: 24px;
  color: mat.get-color-from-palette(map.get($primary, 'contrast'), 500)
}

