<div class="mat-typography" id="modal-content-wrapper">
  <header mat-dialog-title id="modal-header">
    <h1 id="modal-title">Create Scoresheet Confirmation!</h1>
  </header>
  <mat-dialog-content>
    <section id="modal">
      <p>
        Please make sure that the subjects, subject teachers, and class
        learners. Confirming this will create a new scoresheet for your school.
      </p>
    </section>
  </mat-dialog-content>
  <mat-dialog-actions>
    <footer id="modal-footer">
      <button
        mat-raised-button
        id="modal-cancel-button"
        color="warn"
        (click)="closeConfirmationDialog()"
      >
        Cancel
      </button>
      <button
        mat-raised-button
        id="modal-action-button"
        color="primary"
        [routerLink]="confirmScoresheetCreation()"
      >
        Confirm
      </button>
    </footer>
  </mat-dialog-actions>
</div>
