<app-add-dialog [dialogTitle]="title">
  <div class="dialogContent mat-typography">
    <div class="instructions fira-code">
      The form below contains input elements for selecting a head of department.
    </div>

    <div id="form-container" class="form-container">
      <form id="input-container" class="form">
        <div class="form-field teacher">
          <button
            class="fira-code"
            mat-raised-button
            [matMenuTriggerFor]="teacher"
          >
            {{
              teacherSelection === undefined
                ? "Select Teacher"
                : teacherSelection.title +
                  " " +
                  teacherSelection.user_id.name +
                  " " +
                  teacherSelection.user_id.surname
            }}
          </button>
          <mat-menu #teacher="matMenu" class="menu-options">
            <div *ngFor="let teach of teachers$ | async; let i = index">
              <button
                class="fira-code"
                mat-menu-item
                (click)="selectTeacher(teach)"
              >
                {{ teach.title }} {{ teach.user_id.name.substring(0, 1) }}.
                {{ teach.user_id.surname }}
              </button>
            </div>
          </mat-menu>
        </div>
        <div class="form-field department">
          <button
            mat-raised-button
            class="fira-code"
            [matMenuTriggerFor]="dept"
          >
            {{
              departmentSelection === undefined
                ? "Select Department"
                : departmentSelection.name
            }}
          </button>
          <mat-menu class="menu-options" #dept="matMenu">
            <div *ngFor="let department of departments$ | async; let i = index">
              <button
                class="fira-code"
                mat-menu-item
                (click)="selectDepartment(department)"
              >
                {{ department.name }}
              </button>
            </div>
          </mat-menu>
        </div>
        <mat-form-field class="form-field year">
          <mat-label>Year</mat-label>
          <input
            id="year"
            type="text"
            name="year"
            class="fira-code"
            matInput
            placeholder="e.g. 2010"
            [(ngModel)]="year"
          />
        </mat-form-field>
      </form>
    </div>
  </div>
  <mat-dialog-actions class="dialogButtons buttons-container">
    <button
      mat-raised-button
      color="warn"
      class="fira-code"
      (click)="closeHODDialog()"
    >
      Close
    </button>
    <button class="submit" mat-raised-button (click)="submitHOD()">
      Submit
    </button>
  </mat-dialog-actions>
</app-add-dialog>
