@use "../../../../../theme.scss" as var;
// material theme styles
#registration-container {
  width: 100%;
  height: 100%;
}

#registration-form-container {
  width: 35%;
  height: auto;
  background-color: #eee;
  margin: auto;
  padding: 20px;
  border-radius: 12px;
  position: relative;
  top: 15%;
}
.form-container {
  min-width: 120px;
  max-width: 500px;
  width: 100%;
  position: relative;
  margin: 20px auto;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 80%;
  margin: 7px auto;
  font-family: var.$bold;

  ::ng-deep {
    mat-label {
      font-family: var.$regular;
      color: var.$primary;
    }
  }
}

.form-group {
  min-width: 120px;
  max-width: 500px;
  width: 100%;
  margin: -3% auto;
}
.buttons-container {
  text-align: center;
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button.button {
  font-family: var.$regular;
}

button.register-button-material {
  min-width: 90px;
  max-width: 170px;
  width: 100%;
  margin: 12px;
  background-color: var.$primary;
  color: white;
}

.splash-text {
  font-family: var.$regular;
  font-size: 3.4rem;
  // margin:  auto;
  background-color: var.$primary;
  text-align: center;
  position: relative;
  top: 8%;
  height: 18px;
}

.add-space {
  height: 240px;
  width: 100%;
  background-color: transparent;
  position: relative;
  z-index: -2;
}

div.register-spinner-container {
  width: 50px;
  // background-color: yellow;
  display: flex;
  justify-content: center;
  margin: auto;
}

:host ::ng-deep .reg-spinner circle {
  stroke: var.$secondary;
}

@media screen and (max-width: 768px) {
  #registration-container {
    overflow-x: hidden;
  }

  .splash-text {
    font-size: 1.4rem;
    height: 12px;
    position: relative;
    top: 8%;
  }

  #registration-form-container {
    background-color: var.$light;
    width: auto;
    margin: 12px;
  }

  .container {
    max-width: 100%;
    width: 95%;
  }
}
