.excel-wrapper {
  padding: 34px;
}

.instructions,
p {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  // margin: 24px auto;
}

.form-group {
  background-color: whitesmoke;
  width: 50%;
  margin: auto;
  border: 1px solid black;
  border-radius: 12px;
  padding: 7px;
}

.sheetnames-container {
  background-color: #eee;
  padding: 12px;
  border-radius: 12px;
  width: 50%;
  margin: 15px auto;
  display: flex;
  flex-wrap: wrap;
}

.sheetnames-container > div:first-child {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin: 12px;
  width: 100%;
}

.sheets-list {
  background-color: #ddd;
  margin: 5px auto;
  width: 150px;
  height: 50px;
  text-align: left;
  border-radius: 5px;
}

td {
  background-color: whitesmoke;
  text-align: center;
}

.sheets-confirm {
  width: 100%;
  text-align: center;
  margin-top: 24px;
}

.sheets-data-container {
  margin-top: 22px;

  .title {
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.3rem;
    margin: 12px auto;
    text-align: center;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
  }

  button {
    font-weight: normal;
    text-decoration: none;
  }
}
