@use "../../../theme.scss" as var;

.add-reports-dialog-wrapper {
  background-color: #eee;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: var.$regular;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  padding: 24px;
  font-family: var.$bold;
  font-size: 1.8rem;
}

.progress-bar-wrapper {
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: start;
}

.form-container {
  // display: flex;
  // justify-content: center;
  // flex-direction: column;
  padding: 12px;
  margin: auto;

  ::ng-deep.mat-mdc-form-field {
    margin: auto;
  }
}

.field {
  max-width: 800px;
  min-width: 120px;
  width: 70%;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.navigation-buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin: 12px;
}

.next-button {
  background-color: var.$primary;
  color: white;
}

.back-button {
  background-color: red;
  color: white;
}

.finished-button {
  background-color: green;
  color: white;
  width: 40%;
  margin: auto;

  ::ng-deep .mat-icon {
    color: white;
  }
}

.steps-container {
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.data-collector {
  width: 100%;
  margin: 12px auto;
}

// .data-classes {
//   width: 70%;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   background-color: blue;
//   margin: auto;
//
//   .checkbox {
//     position: relative;
//     float: left;
//   }
// }

.criteria-wrapper {
  width: 100%;

  .data-selector {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    text-align: center;
    position: relative;

    button {
      width: 40%;
      margin: auto;
      background-color: var.$secondary;
    }

    .report-criteria-wrapper {
      display: flex;
      justify-content: center;
      width: 100%;
      flex-wrap: wrap;
      flex-direction: row;

      .report-criteria {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      .scores-index {
        width: 5%;
        height: auto;
      }

      .criteria-scoresheet-name {
        width: 23%;
      }

      .criteria-scoresheet-year {
        width: 10%;
      }

      .criteria-weight {
        width: 35%;
      }

      .criteria-classes {
        width: 22%;
      }

      .line-height {
        line-height: 60px;
        position: relative;
      }
    }
  }
}

.select-classes {
  font-family: var.$bold;
  padding: 12px;
}

@media screen and (max-width: 768px) {
  .buttons-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
    justify-content: center;
  }
}

/*
    Animation definitions
*/
@keyframes slide-right {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(133%);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-133%);
  }
}
