<app-add-dialog [dialogTitle]="title">
  <div class="dialogContent">
    <div class="mat-typography instructions">
      The form below contains input elements for teachers.
    </div>

    <div class="user-selection-wrapper">
      <button
        color="primary"
        mat-stroked-button
        [matMenuTriggerFor]="userSelectionMenu"
      >
        {{ userSelection.name }} {{ userSelection.surname }}
      </button>
      <mat-menu #userSelectionMenu="matMenu">
        <div class="users-list" *ngFor="let user of users; let i = index">
          <button mat-menu-item (click)="selectUser(user)">
            {{ user.name }} {{ user.surname }}
          </button>
        </div>
      </mat-menu>

      <div stlye="width: 20px; margin-top: 20px;"></div>
      <button
        style="margin-top: 20px"
        mat-raised-button
        color="primary"
        (click)="createNewTeacher()"
      >
        Create New User
      </button>
    </div>

    <div *ngIf="isUserSelected" id="form-container" class="form-container">
      <form id="input-container" class="form">
        <mat-form-field class="form-field-name">
          <mat-label>Name</mat-label>
          <input
            id="name"
            #inputField
            type="text"
            name="teacherName"
            matInput
            placeholder="e.g. Mazwi"
            [(ngModel)]="name"
          />
        </mat-form-field>

        <mat-form-field class="form-field-surname">
          <mat-label>Surname</mat-label>
          <input
            id="surname"
            type="text"
            name="teacherSurname"
            matInput
            placeholder="e.g. Sihlongonyane"
            [(ngModel)]="surname"
          />
        </mat-form-field>
        <mat-form-field class="form-field-contact">
          <mat-label>Contact</mat-label>
          <input
            id="contact"
            type="text"
            name="teacherContact"
            matInput
            placeholder="e.g. 78123456"
            [(ngModel)]="contact"
          />
        </mat-form-field>
        <div class="form-field menu gender">
          <button mat-raised-button [matMenuTriggerFor]="gender">
            {{ genderSelection }}
          </button>
          <mat-menu #gender="matMenu">
            <button mat-menu-item (click)="selectGender('Female')">
              Female
            </button>
            <button mat-menu-item (click)="selectGender('Male')">Male</button>
          </mat-menu>
        </div>
        <div class="form-field menu marital-status">
          <button mat-raised-button [matMenuTriggerFor]="maritalStatus">
            {{ maritalStatusSelection }}
          </button>
          <mat-menu #maritalStatus="matMenu">
            <button mat-menu-item (click)="selectMaritalStatus('Single')">
              Single
            </button>
            <button mat-menu-item (click)="selectMaritalStatus('Married')">
              Married
            </button>
          </mat-menu>
        </div>
      </form>

      <form [formGroup]="passwordForm" class="form-group">
        <mat-form-field *ngIf="showPasswordContainer" class="email form-field">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            [formControl]="email"
            placeholder="Example: pat@example.com"
            [errorStateMatcher]="matcher"
          />
          <mat-error
            *ngIf="email.hasError('email') && email.hasError('required')"
          >
            Please enter a valid email address.
          </mat-error>
          <mat-error *ngIf="email.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field
          *ngIf="showPasswordContainer"
          class="form-field password"
        >
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            formControlName="password"
            [type]="visible ? 'text' : 'password'"
          />
          <mat-icon matSuffix style="cursor: pointer" (click)="showPassword()">
            {{ !visible ? "visibility" : "visibility_off" }}
          </mat-icon>
          <mat-hint>Password should be at least 6 character long</mat-hint>
          <mat-error *ngIf="passwordForm.get('password')!.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="passwordForm.get('password')!.hasError('pattern')">
            Password should have a capital letter and a number as part of it
          </mat-error>
        </mat-form-field>

        <mat-form-field
          *ngIf="showPasswordContainer"
          class="form-field confirm-password"
        >
          <mat-label>Confirm Password</mat-label>
          <input
            type="password"
            matInput
            formControlName="confirmPassword"
            [type]="confirmVisible ? 'text' : 'password'"
          />
          <mat-icon
            matSuffix
            style="cursor: pointer"
            (click)="showConfirmPassword()"
          >
            {{ !confirmVisible ? "visibility" : "visibility_off" }}
          </mat-icon>
          <mat-hint>Password should be at least 6 character long</mat-hint>
          <mat-error
            *ngIf="passwordForm.get('confirmPassword')!.hasError('required')"
          >
            Password is <strong>required</strong>
          </mat-error>
          <mat-error
            *ngIf="passwordForm.get('confirmPassword')!.hasError('pattern')"
          >
            Password should have a capital letter and a number as part of it
          </mat-error>
        </mat-form-field>
      </form>
    </div>
  </div>
  <mat-dialog-actions class="dialogButtons buttons-container">
    <button mat-raised-button color="warn" (click)="closeTeacherDialog()">
      Close
    </button>
    <button
      class="submit"
      mat-raised-button
      color="primary"
      (click)="submitTeacherRequest()"
    >
      Submit
    </button>
  </mat-dialog-actions>
</app-add-dialog>
