@use "sass:map";
@use "src/styles.scss" as sty;
@use "src/variables.scss" as var;
@use "@angular/material" as mat;

$color: mat.get-color-config(sty.$theme);
$primary: map.get($color, "primary");
$warning: var.$warn-palette;
$error: map.get($color, "warn");

:host {
  display: flex;
}

.container {
  width: 100%;
  display: flex;
  padding: 12px;
  border-radius: 4px;
}

.info {
  color: mat.get-color-from-palette($primary, 800);
  background-color: mat.get-color-from-palette($primary, 50);
  // box-shadow: 0 0 4px 1px rgba(mat.get-color-from-palette($primary, 50), 0.5);

  &::ng-deep {
    > button {
      background: mat.get-color-from-palette($primary, 800);
      color: white;
      font-weight: 400;
    }
  }
}

.error {
  color: mat.get-color-from-palette($error, 800);
  background-color: mat.get-color-from-palette($error, 50);
  // box-shadow: 0 0 4px 1px mat.get-color-from-palette($error, 50);

  &::ng-deep {
    > button {
      background: mat.get-color-from-palette($error, 800);
      color: white;
      font-weight: 400;
    }
  }
}

.warning {
  color: mat.get-color-from-palette($warning, 800);
  background-color: mat.get-color-from-palette($warning, 50);
  // box-shadow: 0 0 4px 1px mat.get-color-from-palette($warning, 50);

  &::ng-deep {
    > button {
      background: mat.get-color-from-palette($warning, 800);
      color: white;
      font-weight: 400;
      margin-top: 8px;
    }
  }
}

.content {
  font-size: 10pt;
  line-height: 24px;
  flex: 1;

  display: flex;
  flex-flow: column;
  justify-content: center;

  > .message {
    &::ng-deep {
      > p {
        margin: 4px;
      }
    }

    > mat-icon {
      margin-top: 4px;
      margin-bottom: 4px;
    }
  }
}

.icon {
  margin-top: 4px;
  margin-bottom: 4px;
}
