@use "../../../my-styles.scss" as var;
.full-width-table {
  width: 60%;
}

table {
  width: 60%;
}

td {
  background-color: whitesmoke;
  text-align: center;
}

.table-container {
  border: 0 solid black;
  margin: auto;
}

div.buttons-container > button {
  margin: 25px auto;
  height: 49px;
  width: 15%;
  display: block;
}

.no-data {
  padding: 24px;
  font-size: 1.4rem;
  font-weight: bold;
}

button.add {
  background-color: var.$primary;
  color: white;
}

.mat-mdc-progress-bar {
  --mdc-linear-progress-active-indicator-color: #3d7c98;
}
