<div class="container">
  <h1 class="splash">School Management System</h1>

  <div class="tw-flex tw-flex-col tw-gap-4 tw-p-10">
    <button mat-stroked-button color="primary" routerLink="/login" routerLinkActive="active">
      <span>Login</span>
    </button>

    <hr class="tw-w-full"/>

    <button mat-stroked-button color="primary" routerLink="/registration" routerLinkActive="active">
      <span>Register</span>
    </button>
    <p color="accent" class="hint">Please make sure you have read our <a href="/">terms of use</a> and <a href="">privacy policy</a> before registering.</p>
  </div>
</div>
<p class="copyrights">copyrights &copy; 2023</p>
