<!--
so we layout the drawer as title, menu stuff, then footer with version and controls and stuff
-->
<div class="title" [class.title_toggle]="expanded" [routerLink]="['']" matRipple>
  <mat-icon>home</mat-icon>
  <p>{{ title | slice:0:16 }}<ng-container *ngIf="title.length > 16">...</ng-container></p>
</div>

<mat-divider></mat-divider>

<div class="container" [class.container_expanded]="expanded">
  <!--
    here we generate the menu sections
    -->
  <p>Schools</p>

  <app-section
    *ngFor="let item of sections$ | async"
    [title]="item.title"
    [icon]="item.icon"
    [route]="item.route"
    [items]="item.items"
    [expanded]="expanded"
  >
  </app-section>

  <div class="loading" [class.loading_expanded]="expanded" *ngIf="loading$ | async">
    <mat-progress-spinner [diameter]="expanded ? 20 : 24" mode="indeterminate"></mat-progress-spinner>
  </div>
</div>

<mat-divider></mat-divider>

<div class="footer" [class.footer_toggle]="expanded">
  <button mat-icon-button (click)="expanded = !expanded">
    <mat-icon>chevron_left</mat-icon>
  </button>
</div>

<img src="../../../../../assets/images/drawer.jpg" alt="" />
