
@use "src/styles.scss" as sty;
@use "src/variables.scss" as var;
@use "@angular/material" as mat;
@use "sass:map";

$color: mat.get-color-config(sty.$theme);
$primary: map.get($color, "primary");
$warning: var.$warn-palette;
$error : map.get($color, "warn");

:host ::ng-deep.mat-mdc-row {
  height: 40px !important;
}
:host ::ng-deep.mat-mdc-header-row {
  height: 48px !important;
}

.title {
  color: mat.get-color-from-palette($primary, 500);
  margin: 0;
}

hr {
  background-color: mat.get-color-from-palette($primary, 100);
  width: 100%;
}

.mat-column-options, .mat-column-remove {
  width: 32px;
}

.subjects, .teachers {
  > h2 {
    color: mat.get-color-from-palette($primary, 500);
    font-weight: 400;
    margin-bottom: 8px;
  }
}

.nosubjects {
  > p {
    color: mat.get-color-from-palette($primary, 500);
    font-weight: 400;
    margin-bottom: 12px;
  }
}

.primary {
  color: mat.get-color-from-palette($primary, 500);
}

.warn {
  color: mat.get-color-from-palette($error, 500);
}

.hint {
  margin-bottom: 24px;

  > div > p {
    margin: 0 !important;
  }
}
