
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-field {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 250px;
}

.dialogButtons {
  display: flex;
  justify-content: center;
  text-align: center;
}

button.gender.menu {
  color: white;
  display: flex;
  justify-content: center;
  margin: 12px auto;
}
button.maritalStatus.menu {
  margin: auto;
  display: flex;
  justify-content: center;
}
