@use "../../../my-styles.scss" as var;

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

::ng-deep {
  font-family: var.$regular;
}

.form-field {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 250px;
}

.dialogButtons {
  display: flex;
  justify-content: center;
  text-align: center;
}

button.gender.menu {
  background-color: var.$primary;
  color: white;
  display: flex;
  justify-content: center;
  margin: 12px auto;
}
button.maritalStatus.menu {
  background-color: var.$secondary;
  margin: auto;
  display: flex;
  justify-content: center;
}
