@use "sass:map";
@use "src/styles.scss" as sty;
@use "src/variables.scss" as var;
@use "@angular/material" as mat;

$color: mat.get-color-config(sty.$theme);
$primary: map.get($color, "primary");
$accent: map.get($color, "accent");

$margin: 12px;
$icons: 15pt;

:host {
  display: flex;
  flex-flow: column;
  cursor: pointer;

  margin: $margin;
  border-radius: 8px;
  overflow: hidden;

  background-color: rgba(mat.get-color-from-palette(map.get($primary, 'contrast'), 400), 0.24);
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  transition: padding 256ms;
  padding: 12px 16px;

  > div {
    display: flex;
    gap: 12px;
    align-items: center;

    > mat-icon {
      font-size: $icons;
    }
  }
  > mat-icon {
    transition: transform 256ms;
    transform: rotate(0deg);
  }
}
.title_expanded {
  transition: padding 256ms;
  padding: 12px 8px;

  > div {
    > div {
      opacity: 0;
    }
  }
}
.title_toggled {
  > mat-icon {
    transition: transform 256ms;
    transform: rotate(180deg);
  }
}

.title_items {
  transition: opacity 64ms;
  opacity: 1;

  > p:first-child {
    margin: 0;
    white-space: nowrap;
  }
  > p:nth-child(2) {
    margin: 0;
    margin-left: auto;
    white-space: nowrap;

    font-size: 6pt;
    background-color: rgba(mat.get-color-from-palette(map.get($primary, 'contrast'), 400), 0.24);
    border-radius: 8px;

    padding: 1px 8px;
  }

  > div {
    display: flex;
    align-items: center;
    gap: 3px;

    transition: height 256ms;
    height: 12px;
    overflow-y: hidden;

    > p {
      font-size: 6.5pt;
      margin: 0;
      text-decoration: underline;
    }
    > p:not(:last-child):after {
      content: ",";
    }
  }
}
.title_items_toggled {
  > div {
    display: flex;
    align-items: center;
    gap: 3px;

    transition: height 128ms;
    height: 0;
  }
}

.items {
  overflow: hidden;
  > div {
    display: flex;
    gap: 12px;
    align-items: center;

    padding: 0 24px;
    height: 40px;

    font-size: 10pt;
    margin: 0;

    transition: padding 256ms;

    > mat-icon {
      font-size: $icons;
      min-width: 24px;
    }
    > div {
      transition: opacity 256ms;
      opacity: 1;
    }
  }
}
.items_toggled {
  height: 0;
}
.items_expanded {
  > div {
    transition: padding 256ms;
    padding: 0 10px;

    > div {
      transition: opacity 256ms;
      opacity: 0;
    }
  }
}

.toggler {
  > mat-icon {
    transition: opacity 256ms;
    padding: 0 8px;
  }
}
