@use "../../../my-styles.scss" as var;

.attendance-classes-wrapper {
  font-family: var.$regular;
}

.title-wrapper {
  text-align: center;
}

.title {
  font-size: 1.3rem;
  font-family: var.$bold;
  text-decoration: underline;
  padding: 12px;
}

.instructions {
  text-decoration: underline;
  font-size: 1.15rem;
}

table {
  text-align: center;
  font-family: var.$regular;

  tr,
  td {
    font-family: var.$regular;
    text-align: center;
  }
}
