<section class="attendance-classes-wrapper">
  <section class="title-wrapper">
    <section class="title">{{ api.selectedReport.name }} {{ api.selectedReport.year }}</section>
    <section class="instructions">Select class for Attendance/Conduct</section>
  </section>

  <section class="streams-wrapper">
    <table mat-table [dataSource]="dataSource">
      <!-- Index -->
      <ng-container matColumnDef="index">
        <th mat-header *matHeaderCellDef>Index</th>
        <td mat-cell *matCellDef="let element">{{ element.index }}</td>
      </ng-container>

      <!-- Stream -->
      <ng-container matColumnDef="stream">
        <th mat-header *matHeaderCellDef>Stream</th>
        <td mat-cell *matCellDef="let element">{{ element.stream }}</td>
      </ng-container>

      <!-- Actions -->
      <ng-container matColumnDef="actions">
        <th mat-header *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-raised-button
            class="add-attendance-button"
            (click)="addAttendanceConduct(element)"
          >
            Add attendance/conduct
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr *matNoDataRow>
        <td class="no-data" colspan="3">No Streams Found!</td>
      </tr>
    </table>
  </section>
</section>
