.school-reg-title {
  position: relative;
  top: 60px;
  height: 18px;
  text-align: center;

  span {
    font-size: 3.4rem;
  }
}

.registration-form {
  width: 40%;
  background-color: #eee;
  border-radius: 12px;
  display: flex;
  flex-flow: column;
  padding: 24px;
  margin: auto;
  position: relative;
  top: 180px;
}

.container {
  width: 100%;
  margin: auto;
}

button {
  width: 40%;
  margin: auto;
}

button.confirm {
  color: white;
}

.spinner-container {
  display: flex;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin: 20px auto;
}

@media screen and (max-width: 768px) {
  .school-reg-container {
    width: 100%;
  }

  .school-reg-title {
    height: 9px;
    span {
      font-size: 1.4rem;
    }
  }

  .registration-form {
    width: 80%;
    padding: 18px;
  }
}
