@use "../../../theme.scss" as var;

.full-width-table {
  width: 60%;
}

table {
  width: 60%;
}

td {
  background-color: whitesmoke;
  text-align: center;
}

.table-container {
  border: 0 solid black;
  margin: auto;
}

tr.row-item:hover {
  background-color: #eee;
  cursor: pointer;
}

.no-data {
  font-size: 1.4rem;
  font-family: var.$regular;
  font-weight: bold;
  padding: 24px;
}

h1 {
  font-family: var.$regular;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color: red !important;
  background-color: yellow;
  font-family: var.$regular;
}

::ng-deep {
  mat-table {
    background-color: red;
    font-family: var.$regular;
  }

  th,
  td,
  mat-cell {
    font-family: var.$regular;
    text-align: center;
  }

  mat-tab {
    color: yellow;
    background-color: green;
  }
}
