@use "sass:map";
@use "src/styles.scss" as sty;
@use "src/variables.scss" as var;
@use "@angular/material" as mat;

$color: mat.get-color-config(sty.$theme);
$primary: map.get($color, "primary");

:host {
  display: flex;
  flex-flow: column;
}

.container {
  display: flex;
  flex-flow: column;

  background-color: mat.get-color-from-palette(
    map.get($primary, "contrast"),
    500
  );
  border-radius: 8px;
  box-shadow: 0 0 4px 1px #0001;

  max-height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
}

