.subject-buttons {
  display: flex;
  flex-wrap: wrap;
}

.subject {
  padding: 12px;
}

.instructions {
  text-align: center;
  margin: auto;
  padding: 12px;
  font-size: 1.5rem;
  font-weight: bold;
}

.pass-controls-added {
  display: flex;
  width: 30%;
  height: auto;
  justify-content: space-evenly;
  margin: 24px auto;
}
