<div class="add-marks-wrapper mat-typography">
  <div class="instructions">
    Select a class and subject to add students marks
    <button
      mat-raised-button
      color="primary"
      (click)="openPassControls(undefined)"
    >
      Add Pass Controls
    </button>
  </div>

  <div class="pass-controls-added">
    <mat-spinner
      *ngIf="isLoadingPassControls"
      mode="indeterminate"
    ></mat-spinner>
    <div *ngFor="let controls of passControls; let i = index">
      <button
        mat-stroked-button
        color="primary"
        (click)="openPassControls(controls)"
      >
        {{ controls.level }}
      </button>
    </div>
  </div>

  <div class="classes-accordion-wrapper">
    <mat-accordion class="scoresheets-wrapper">
      <div *ngFor="let class of classes; let i = index">
        <mat-expansion-panel
          [expanded]="selectedClass === i"
          (open)="setSelectedClass(i)"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>{{ class.name }}</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="subject-buttons">
            <div
              class="subject"
              *ngFor="let subject of class.subjects; let j = index"
            >
              <button
                mat-raised-button
                (click)="checkTeacher(subject._id, class.class_id)"
                color="primary"
              >
                {{ subject.name }}
              </button>
            </div>
          </div>

          <mat-action-row>
            <button mat-button color="primary" (click)="viewScoresheet(class)">
              View Scoresheet
            </button>
          </mat-action-row>
        </mat-expansion-panel>
      </div>
    </mat-accordion>
  </div>
</div>
