.subject-buttons {
  display: flex;
  flex-wrap: wrap;
}

.subject {
  padding: 12px;
}

.instructions {
  text-align: center;
  margin: auto;
  padding: 12px;
  font-size: 1.5rem;
  font-weight: bold;
}
