<div class="add-marks-wrapper">
  <div class="instructions">
    Select a class and subject to add students marks
    <button
      mat-raised-button
      class="add-pass-controls"
      (click)="openPassControls(undefined)"
    >
      Add Pass Controls
    </button>
  </div>

  <div class="pass-controls-added">
    <div class="spinner-container">
      <mat-spinner
        *ngIf="isLoadingPassControls"
        mode="indeterminate"
        class="controls-spinner"
      ></mat-spinner>
    </div>
    <div *ngFor="let controls of passControls; let i = index">
      <button
        mat-stroked-button
        class="pass-controls-button"
        (click)="openPassControls(controls)"
      >
        {{ controls.level }}
      </button>
    </div>
  </div>

  <div class="classes-accordion-wrapper">
    <mat-accordion class="scoresheets-wrapper">
      <div *ngFor="let class of classes; let i = index">
        <mat-expansion-panel
          [expanded]="selectedClass === i"
          (opened)="setSelectedClass(i)"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>{{ class.name }}</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="subject-buttons">
            <div
              class="subject"
              *ngFor="let subject of class.subjects; let j = index"
            >
              <button
                mat-raised-button
                (click)="checkTeacher(subject._id, class.class_id)"
                class="class-name"
              >
                {{ subject.name }}
              </button>
            </div>
          </div>

          <mat-action-row>
            <!--View class marks button-->
            <div class="class-marks-wrapper">
              <button mat-stroked-button (click)="navigateToClassMarks(class)">
                View Marks
              </button>
            </div>

            <button
              *ngIf="!isScoresheetLoading"
              mat-button
              class="view-scoresheet"
              (click)="viewScoresheet(class)"
            >
              View Scoresheet
            </button>
            <div *ngIf="isScoresheetLoading">
              <mat-progress-spinner
                class="scoresheet-spinner"
                mode="indeterminate"
              ></mat-progress-spinner>
            </div>
          </mat-action-row>
        </mat-expansion-panel>
      </div>
    </mat-accordion>
  </div>
</div>
