<div class="class-wrapper">
  <div class="instructions">
    <p>Confirm the classes to be included in the scoresheet</p>
  </div>

  <div class="form-container classes-container">
    <div class="checklist" *ngFor="let class of classes; let i = index">
      <mat-checkbox
        color="primary"
        class="class-check-item"
        [(ngModel)]="scoresheetService.checked[i]"
      >
        {{ class.name }}
      </mat-checkbox>
    </div>
  </div>
  <div class="button">
    <button mat-raised-button color="warn" (click)="goBackToStepOne()">
      Back
    </button>

    <button mat-raised-button color="primary" (click)="createScoresheet()">
      Create Scoresheet
    </button>
  </div>
</div>
