.class-wrapper {
  margin: 24px auto;
  width: 70%;
  border-radius: 12px;
  background-color: whitesmoke;
  padding: 12px;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
}

.instructions {
  margin: auto;
  background-color: grey;
  display: flex;
  justify-content: center;
  border-radius: 12px;
}

p {
  font-size: 2rem;
  font-weight: bold;
  padding: 16px;
}

.form-container {
  width: 52%;
  position: relative;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.checklist > mat-checkbox {
  position: relative;
  margin: 12px;
  font-size: 40px;
}

.button {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 90px;
  margin-bottom: 20px;
  width: 40%;
  font-size: 1rem;
  padding: 12px;
}

.button > button {
  width: 40%;
  margin: 0 12px;
}
